---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<canvas id="canvas" />
	<main>
		<div class="pageContainer">
			<div class="page is-1"></div>
			<div class="page is-2"></div>
			<div class="page is-3"></div>
			<div class="page is-4"></div>
		</div>
	</main>
</Layout>
